
#discover a:visited {
    color: #AD660C;
}  
.discover_button {
        float: left;
        font-size: .6em;
	    width: 40px; height: 15px;
	    margin-right: 10px;	    
	    -moz-border-radius: 10px;  
	    border-radius: 10px;  

    }
    #disCancel { background-position: -148px -30px;}
    #disDiscover { background-position: -281px -36px; }
    #disCancel:hover { background-position: -148px -67px; }
    #disCancel:active { background-position: -148px -98px; }
    #disDiscover:hover { background-position: -291px -67px; }
    #disDiscover:active { background-position: -291px -98px; }
    
#sindiceDiscover a:visited {
    color: #AD660C;
}


#login-form a:visited {
    color: #AD660C;
}  

#signup-form input{
	width:80%;
}

#login {
    color: #AD660C;
}  
