<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SuperStreamCollider</display-name>
  <welcome-file-list>    
  	<welcome-file>index.jsp</welcome-file>    
    <welcome-file>engine.jsp</welcome-file>    
  </welcome-file-list>
  
  <servlet>
    <servlet-name>spring</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>spring</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyServlet</servlet-name>
    <servlet-class>ssc.websocket.echo.MyServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>wsEchoStream</servlet-name>
    <servlet-class>ssc.websocket.echo.EchoStream</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsEchoStream</servlet-name>
    <url-pattern>/websocket/echoStream</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsEchoMessage</servlet-name>
    <servlet-class>ssc.websocket.echo.EchoMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsEchoMessage</servlet-name>
    <url-pattern>/websocket/echoMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsLsmSensorMessage</servlet-name>
    <servlet-class>ssc.websocket.echo.LSMSensorSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsLsmSensorMessage</servlet-name>
    <url-pattern>/websocket/LSMSensorMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsLsmStreamMessage</servlet-name>
    <servlet-class>ssc.websocket.echo.LSMStreamSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsLsmStreamMessage</servlet-name>
    <url-pattern>/websocket/LSMStreamMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsTwitterStreamMessage</servlet-name>
    <servlet-class>ssc.websocket.echo.TwitterStreamSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsTwitterStreamMessage</servlet-name>
    <url-pattern>/websocket/TwitterStreamMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsEndPointMessage</servlet-name>
    <servlet-class>ssc.websocket.echo.SparqlEndPointSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsEndPointMessage</servlet-name>
    <url-pattern>/websocket/EndPointMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>wsCqelsStream</servlet-name>
    <servlet-class>ssc.websocket.echo.CqelsStreamSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsCqelsStream</servlet-name>
    <url-pattern>/websocket/CqelsMessage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>wsSSCStream</servlet-name>
    <servlet-class>ssc.websocket.echo.SSCSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsSSCStream</servlet-name>
    <url-pattern>/websocket/SSCMessage</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>wsSSCWidget</servlet-name>
    <servlet-class>ssc.websocket.echo.SSCWidgetSocket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsSSCWidget</servlet-name>
    <url-pattern>/websocket/SSCWidgetSocket</url-pattern>
  </servlet-mapping>
</web-app>