<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="sensorDao" class="deri.sensor.dao.SensorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="placeDao" class="deri.sensor.dao.PlaceDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="userActiveDao" class="deri.sensor.dao.UserActiveDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="sensorManager" class="deri.sensor.manager.SensorManagerImpl">
		<property name="sensorDao" ref="sensorDao"></property>
	</bean>
	
	<bean id="placeManager" class="deri.sensor.manager.PlaceManagerImpl">
		<property name="placeDao" ref="placeDao"></property>
	</bean>
	
	<bean id="userActiveManager" class="deri.sensor.manager.UserActiveManagerImpl">
		<property name="userActiveDao" ref="userActiveDao"></property>
	</bean>
	
</beans>
